html {
  margin: 0;
  padding: 0;
  border: 0;
}

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
    display: block;
}

a img { border: none; }
:focus { outline: 0; }


body {
	background-color: #307BD1;
	font-size: 14px;
	line-height: 1.5;
	color: #fff;
	font-family: Helvetica, Arial, sans-serif;
	text-shadow: 0 0 1px rgba(0,0,0, 0.5)
}

section {
	width: 100%;
	padding: 20px 0;
}

section.intro p {
	font-size: 18px;
}

h1 {
	margin: 0 10%;
	text-align: left;
	font-size: 90px;
	font-family: helvetica, arial, sans-serif;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.4);
}

h1 img {
	position: relative;
	top: 20px;
	border: solid 5px #fff;
}

h2 {
	font-size: 22px;
	font-family: helvetica, arial, sans-serif;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0, 0.4);
	margin: 0 10%;
}

h3 {
	margin: 15px 10% 0;
}

form {
	margin: 0 10%;
}

p {
	margin: 0 10%;
}

code {
	display: block;
	font-family: monospace, courier new;
	font-size: 14px;
	background: #444;
	color: #fff;
	padding: 10px;
	margin: 8px 10% 20px;	
	border-radius: 8px;
}

#demo {
	background: #333;
	border-top: 1px solid #fff;
	border-bottom: solid 1px #000;
}

#demo input.text {
	width: 200px;
	padding: 3px 10px;
    -webkit-border-radius: 12px;
       -moz-border-radius: 12px;
            border-radius: 12px;
}

#code {
	background: #999;
	border-top: 1px solid #fff;
	border-bottom: solid 1px #000;
}